.green-1 {
  color: #f1f8e9;
}

.bg-green-1 {
  background-color: #f1f8e9;
}

.hover-name:hover {
  background-color: #f1f8e9;
}

.green-2 {
  color: #dcedc8;
}

.bg-green-2 {
  background-color: #dcedc8;
}

.hover-name:hover {
  background-color: #dcedc8;
}

.green-3 {
  color: #c5e1a5;
}

.bg-green-3 {
  background-color: #c5e1a5;
}

.hover-name:hover {
  background-color: #c5e1a5;
}

.green-4 {
  color: #aed581;
}

.bg-green-4 {
  background-color: #aed581;
}

.hover-name:hover {
  background-color: #aed581;
}

.green-5 {
  color: #9ccc65;
}

.bg-green-5 {
  background-color: #9ccc65;
}

.hover-name:hover {
  background-color: #9ccc65;
}

.green-6 {
  color: #7cb342;
}

.bg-green-6 {
  background-color: #7cb342;
}

.hover-name:hover {
  background-color: #7cb342;
}

.green-7 {
  color: #689f38;
}

.bg-green-7 {
  background-color: #689f38;
}

.hover-name:hover {
  background-color: #689f38;
}

.green-8 {
  color: #558b2f;
}

.bg-green-8 {
  background-color: #558b2f;
}

.hover-name:hover {
  background-color: #558b2f;
}

.green-9 {
  color: #33691e;
}

.bg-green-9 {
  background-color: #33691e;
}

.hover-name:hover {
  background-color: #33691e;
}

.lime-1 {
  color: #f9fbe7;
}

.bg-lime-1 {
  background-color: #f9fbe7;
}

.hover-name:hover {
  background-color: #f9fbe7;
}

.lime-2 {
  color: #f0f4c3;
}

.bg-lime-2 {
  background-color: #f0f4c3;
}

.hover-name:hover {
  background-color: #f0f4c3;
}

.lime-3 {
  color: #e6ee9c;
}

.bg-lime-3 {
  background-color: #e6ee9c;
}

.hover-name:hover {
  background-color: #e6ee9c;
}

.lime-4 {
  color: #dce775;
}

.bg-lime-4 {
  background-color: #dce775;
}

.hover-name:hover {
  background-color: #dce775;
}

.lime-5 {
  color: #d4e157;
}

.bg-lime-5 {
  background-color: #d4e157;
}

.hover-name:hover {
  background-color: #d4e157;
}

.lime-6 {
  color: #c0ca33;
}

.bg-lime-6 {
  background-color: #c0ca33;
}

.hover-name:hover {
  background-color: #c0ca33;
}

.lime-7 {
  color: #afb42b;
}

.bg-lime-7 {
  background-color: #afb42b;
}

.hover-name:hover {
  background-color: #afb42b;
}

.lime-8 {
  color: #9e9d24;
}

.bg-lime-8 {
  background-color: #9e9d24;
}

.hover-name:hover {
  background-color: #9e9d24;
}

.lime-9 {
  color: #827717;
}

.bg-lime-9 {
  background-color: #827717;
}

.hover-name:hover {
  background-color: #827717;
}

.brown-1 {
  color: #efebe9;
}

.bg-brown-1 {
  background-color: #efebe9;
}

.hover-name:hover {
  background-color: #efebe9;
}

.brown-2 {
  color: #d7ccc8;
}

.bg-brown-2 {
  background-color: #d7ccc8;
}

.hover-name:hover {
  background-color: #d7ccc8;
}

.brown-3 {
  color: #bcaaa4;
}

.bg-brown-3 {
  background-color: #bcaaa4;
}

.hover-name:hover {
  background-color: #bcaaa4;
}

.brown-4 {
  color: #a1887f;
}

.bg-brown-4 {
  background-color: #a1887f;
}

.hover-name:hover {
  background-color: #a1887f;
}

.brown-5 {
  color: #8d6e63;
}

.bg-brown-5 {
  background-color: #8d6e63;
}

.hover-name:hover {
  background-color: #8d6e63;
}

.brown-6 {
  color: #6d4c41;
}

.bg-brown-6 {
  background-color: #6d4c41;
}

.hover-name:hover {
  background-color: #6d4c41;
}

.brown-7 {
  color: #5d4037;
}

.bg-brown-7 {
  background-color: #5d4037;
}

.hover-name:hover {
  background-color: #5d4037;
}

.brown-8 {
  color: #4e342e;
}

.bg-brown-8 {
  background-color: #4e342e;
}

.hover-name:hover {
  background-color: #4e342e;
}

.brown-9 {
  color: #3e2723;
}

.bg-brown-9 {
  background-color: #3e2723;
}

.hover-name:hover {
  background-color: #3e2723;
}

.grey-1 {
  color: #fafafa;
}

.bg-grey-1 {
  background-color: #fafafa;
}

.hover-name:hover {
  background-color: #fafafa;
}

.grey-2 {
  color: #f5f5f5;
}

.bg-grey-2 {
  background-color: #f5f5f5;
}

.hover-name:hover {
  background-color: #f5f5f5;
}

.grey-3 {
  color: #eeeeee;
}

.bg-grey-3 {
  background-color: #eeeeee;
}

.hover-name:hover {
  background-color: #eeeeee;
}

.grey-4 {
  color: #e0e0e0;
}

.bg-grey-4 {
  background-color: #e0e0e0;
}

.hover-name:hover {
  background-color: #e0e0e0;
}

.grey-5 {
  color: #bdbdbd;
}

.bg-grey-5 {
  background-color: #bdbdbd;
}

.hover-name:hover {
  background-color: #bdbdbd;
}

.grey-6 {
  color: #757575;
}

.bg-grey-6 {
  background-color: #757575;
}

.hover-name:hover {
  background-color: #757575;
}

.grey-7 {
  color: #616161;
}

.bg-grey-7 {
  background-color: #616161;
}

.hover-name:hover {
  background-color: #616161;
}

.grey-8 {
  color: #424242;
}

.bg-grey-8 {
  background-color: #424242;
}

.hover-name:hover {
  background-color: #424242;
}

.grey-9 {
  color: #212121;
}

.bg-grey-9 {
  background-color: #212121;
}

.hover-name:hover {
  background-color: #212121;
}

.white {
  color: #ffffff;
}

.bg-white {
  background-color: #ffffff;
}

.hover-name:hover {
  background-color: #ffffff;
}

.black {
  color: #000000;
}

.bg-black {
  background-color: #000000;
}

.hover-name:hover {
  background-color: #000000;
}
/*# sourceMappingURL=index.css.map */